---
layout: page
title: Muffins
flavours: []
---
<h1>Our cupcakes</h1>

<div class="cupcakes">
	{% for cupcake in site.cupcakes reversed limit: 3 offset: 3 %}
		<div class="cupcake">
			<div class="image">
				<img src="{{ cupcake.image_path }}" alt="{{ cupcake.type }}"
					style="-webkit-filter: {% cycle "grayscale", "sepia", "invert" %}(100%)"
				/>
			</div>
			<h2
				{% if forloop.rindex <= 3 %}
					style="background: black; color: white;"
				{% endif %}

				title="{{ forloop.length}} cupcakes"
			>{{ forloop.index0 }}. {{ cupcake.type }}</h2>
			<p>{{ cupcake.description }}</p>
		</div>
	{% endfor %}

	{% for flavour in page.flavours %}
		{{ flavour }}
	{% else %}
		<p>There are no flavours</p>
	{% endfor %}
</div>
